<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<section th:fragment="list (comments)" class="row">
    <h2>Comments list</h2>
    <table class="table"  th:if="${not comments.isEmpty()}">
        <thead>
        <tr>
            <th>#</th>
            <th>Author</th>
            <th>Text</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment, index : ${comments}">
            <td>
                [[${index.index + 1}]]
            </td>
            <td>
                [[${comment.user.username}]]
            </td>
            <td>
                [[${comment.text}]]
            </td>
            <td>
                <div class="btn-group" >
                    <a th:href="@{/comments/{commentId}/delete(commentId=${comment.id})}"
                       th:if="${#authentication.principal.username == comment.user.username}"
                       class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                        </svg>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${comments.isEmpty()}" class="alert alert-primary" role="alert">
        Comments not found!
    </div>
</section>
</html>